<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_article_comment_path(@article, @comment) %> |
  <%= link_to "Back to comments", article_comments_path(@article) %>

  <%= button_to "Destroy this comment", [@article, @comment], method: :delete %>
</div>
